body main{
    background-color:rgb(42, 45, 64);
}
.bg-img img{
    width: 100%;
}
.foot{
    background-color: rgb(190, 196, 210);
}
.about{
    background-color:  rgb(190, 196, 210);
}
.btn{
    background-color: rgb(205, 217, 243);
}
.serv{
    background-color: rgb(190, 196, 210);
}
